__pycache__
.ipynb_checkpoints

build
dist
ortega.egg-info

.env*
.venv*

.idea
.DS_store
example_debug.ipynb
/tests/test_tiger.py
/tests/
/tests/*
/examples/example_debug_human (AAG case study).ipynb
